<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practico 01 - Vue.js</title>
    

</head>

<body>

    <div id="app">

        <section>
            <h1>Paso #2 - Información de Perfil Simple (Interpolación)</h1>
            <hr>
            <br>
            <h3>Nombre: {{ nombre }}</h3>
            <h3>Edad: {{ edad }}</h3>
            <h3>Ciudad: {{ ciudad }}</h3>
            <br>
            <h3>Hola, mi nombre es {{ nombre }}, tengo {{ edad }} años y vivo en {{ ciudad }}.</h3>  
        </section>

        <br>
        <hr>
        <hr>
        <hr>

        <section>
            <br>
            <h1>Paso #3 - Contador Interactivo (Interpolación y Eventos)</h1>
            <hr>
            <br>
            <h3>Contador: {{ contador }}</h3>
            <br>
            <button @click="contador++">+ Incrementar +</button>
            <br>
            <button @click="contador--">- Decrementar -</button>
        </section>

        <br>
        <br>
        <hr>
        <hr>
        <hr>

        <section>
            <br>
            <h1>Paso #4 - Lista de Tareas con Conteo y Estado (Propiedades Computadas, Interpolación, Eventos)</h1>
            <hr>
            <br>
            <br>
            <input type="text" v-model="nuevaTarea">
            <button @click="añadirTarea">+ Añadir Tarea</button>
            <br>
            <h3>Total de Tareas: {{ totalTareas }}</h3>
            <h3>Tareas Pendientes: {{ tareasPendientes }}</h3>
            <br>
            <ul>
                <li v-for="tarea in tareas" :key="tarea.id">
                    <input type="checkbox" v-model="tarea.completada">
                    {{ tarea.texto }}
                </li>
            </ul>
        </section>

        <br>
        <br>
        <hr>
        <hr>
        <hr>

        <section>
            <br>
            <h1>Paso #5 - Lista de Eventos</h1>
            <hr>
            <br>
            <h3>Lista de Eventos:</h3>
            <ul>
                <li v-for="evento in listaeventos" :key="evento.id">
                    Evento: {{ evento.nombre }} -
                    Timestamp: {{ evento.timestamp }}
                </li>
            </ul>
        </section>

        <br>
        <br>
        <hr>
        <hr>
        <hr>

        <section>
            <br>
            <h1>Paso #7 - Uso de las Funciones</h1>
            <hr>
            <br>
            <h3>Posts:</h3>
            <ul>
                <li v-for="post in posts" :key="post.id" @click="cargarComentarios(post.id)" style="cursor: pointer;">
                    {{ post.id }} - {{ post.title }}
                </li>
            </ul>
            <br>
            <h3>Comentarios:</h3>
            <ul>
                <li v-for="comentario in comentarios" :key="comentario.id">
                    {{ comentario.name }} - {{ comentario.body }}
                </li>
            </ul>
        </section>

        <br>
        <br>
        <hr>
        <hr>
        <hr>


    </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        let eventos = [];
        let idEvento = 0;
        let actualizandoListaEventos = false;

        function guardarEvento(nombre) {

            idEvento++;

            eventos.push({
                id: idEvento,
                nombre: nombre,
                timestamp: Date.now()
            });
        }


        const api = axios.create({
            baseURL: "https://jsonplaceholder.typicode.com"
        });

        async function obtenerPost(postId) {
            const respuesta = await api.get("/posts/" + postId);
            return respuesta.data;
        }

        async function obtenerComments(postId) {
            const respuesta = await api.get("/posts/" + postId + "/comments");
            return respuesta.data;
        }


        const app = Vue.createApp({

            data(){
                return {

                    //> PASO 2 

                    nombre: "Ana García",
                    edad: 30,
                    ciudad: "Tupungato",


                    //> PASO 3 

                    contador: 0,


                    //> PASO 4 

                    nuevaTarea: "",
                    tareas: [],


                    //> PASO 5

                    listaeventos: [],


                    //> PASO 7

                    posts: [],
                    comentarios: []
                }

            },

            methods: {

                añadirTarea(){
                    if (this.nuevaTarea.trim() === "") {
                        return;
                    }

                    this.tareas.push({
                        id: Date.now(),
                        texto: this.nuevaTarea,
                        completada: false
                    });

                    this.nuevaTarea = "";
                },

                async cargarComentarios(postId) {
                    this.comentarios = await obtenerComments(postId);
                }
            },

            computed: {

                totalTareas(){
                    return this.tareas.length;
                },

                tareasPendientes(){
                    return this.tareas.filter(tarea => !tarea.completada).length;
                }

            },
            beforeCreate() {
                guardarEvento("beforeCreate");
            },

            created() {
                guardarEvento("created");
            },

            beforeMount() {
                guardarEvento("beforeMount");
            },

            mounted() {
                guardarEvento("mounted");
                actualizandoListaEventos = true;
                this.listaeventos = [...eventos];

                this.$nextTick(() => {
                    actualizandoListaEventos = false;
                });
                for (let i = 1; i <= 10; i++) {

                    obtenerPost(i).then(post => {

                        this.posts.push(post);

                        this.posts.sort((a, b) => a.id - b.id);

                    });

                }
            },

            beforeUpdate() {

                if (!actualizandoListaEventos) {
                    guardarEvento("beforeUpdate");
                }

            },

            updated() {

                if (!actualizandoListaEventos) {
                    guardarEvento("updated");
                    actualizandoListaEventos = true;
                    this.listaeventos = [...eventos];

                    this.$nextTick(() => {
                        actualizandoListaEventos = false;
                    });

                }

            },

            beforeUnmount() {
                guardarEvento("beforeUnmount");
            },

            unmounted() {
                guardarEvento("unmounted");
            }

        });

        app.mount('#app');

    </script>

</body>

</html>